.vscode/*
.vs/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
# Prerequisites
Assignment1/imgs/
Assignment1/.ipynb_checkpoints
*.DS_Store
Assignment3/data/
Assignment4/en_es_data/
Assignment4/sanity_check_en_es_data/

